<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>
      <%= locals.title %> - Microblog
    </title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <style>
      body {
      padding-top: 50px;
      padding-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Microblog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">首页</a>
            </li>            
			<li class="active">
              <a href="#">Blogs</a>
            </li>
          </ul>
		  <ul class="nav navbar-nav navbar-right">
		  <%if(!locals.user){%>
				<li>
				  <a href="/login">登录</a>
				</li>
				<li>
				  <a href="/reg">注册</a>
				</li>
			<%}else{%>
				<li>
				  <a href="#"><%=locals.user.name%></a>
				</li>
				<li>
				  <a href="/logout">退出</a>
				</li>
			<%}%>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
	    <% if (locals.success) { %>
			<div class="alert alert-success" role="alert">
					<%= locals.success %>
			</div>
      <% } %>
      <% if (locals.error) { %>
			<div class="alert alert-danger" role="alert">
				<%= locals.error %>
			</div>
      <% } %>
      <%- body%>
        <hr/>
        <footer>
          <p>&copy; Company 2014</p>
        </footer>
      </div>
    <!-- /container -->
      <script src="/javascripts/jquery-3.1.0.min.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
    </body>
</html>